{% extends "base.twig" %}

{% block body %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <h5 class="card-header">Reindex</h5>
      <div class="card-body">
        <div class="bs-callout bs-callout-success">
            Reindex completed successfully using <i>{{ engine.providerName }}</i> engine.  See statistics below.
        </div>
      </div>
    </div>
  </div>
</div>
<br/>

{% include 'statistics.twig' %}

<br/>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-footer">
        <a class="btn btn-primary" href="{{ paths.view }}" role="button" style="color: white">Engine Summary</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}