{% set publicPath = paths.public.root | split('?') | first %}

<link rel="stylesheet" type="text/css" href="{{ publicPath }}css/callout.css" media="screen,print">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/rr-1.2.8/sc-2.0.4/sp-1.3.0/sl-1.3.3/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="{{ publicPath }}vendor/bstreeview-1.2.1/bstreeview.css" media="screen,print">

<div class="row">
  <div class="col-md-8">
	{% block title %}
		<h1>Study Metadata Search</h1>
    <h6 class="text-muted">Find form and field metadata from shared project libraries</h6>
	{% endblock %}
  </div>
  <div class="col-md-2">
  <small class="float-right mx-2">rel.{{module.info.release.version}}</small>
	{% block title_navbar %}{% endblock %}
  </div>
</div>

{% block body %}{% endblock %}

<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.25/b-1.7.1/b-html5-1.7.1/rr-1.2.8/sc-2.0.4/sp-1.3.0/sl-1.3.3/datatables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
<script src="{{ publicPath }}vendor/bstreeview-1.2.1/bstreeview.js"></script>

<script>
$( document ).ready(function() {
    new ClipboardJS('.clipboard');
});
</script>