{% set publicPath = paths.public.root | split('?') | first %}

<link rel="stylesheet" type="text/css" href="{{ publicPath }}css/callout.css" media="screen,print">
<link rel="stylesheet" type="text/css" href="{{ publicPath }}vendor/datatables/datatables.min.css" media="screen,print">

<div class="row">
  <div class="col-md-9">
	{% block title %}
		<h1>Study Metadata Search</h1>
	{% endblock %}
  </div>
</div>

{% block body %}{% endblock %}

<script type="text/javascript" src="{{ publicPath }}vendor/datatables/datatables.min.js"></script>