{% set publicPath = paths.public | split('?') | first %}

<link rel="stylesheet" type="text/css" href="{{ publicPath }}/css/callout.css" media="screen,print">

<div class="row">
  <div class="col-md-9">
	{% block title %}
		<h1>Study Metadata Search</h1>
	{% endblock %}
  </div>
</div>

<div class="row">
  <div class="col-md-8">
	<div id="message" class="alert alert-danger hide" role="alert">
		<span id="message-text">Message Placeholder</span>
	</div>  
  </div>
</div>

{% block body %}{% endblock %}