
<!-- Sources Modal Dialog -->
<div class="modal fade" tabindex="-1" role="dialog" id="sources-modal-dialog">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Study Metadata Sources</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-10">
          <p>The following projects allow metadata search.  Please see the projects leads for more information.</p>
          <table class="table" id="sources-table">
            <thead>
              <tr>
                <th scope="col">Project</th>
                <th scope="col">Documents</th>
                <th scope="col">Lead</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $('#view-sources-link').click(function(){
      $('#sources-modal-dialog').modal('show');

      if ( ! $.fn.DataTable.isDataTable( '#sources-table' ) ) {
          $('#sources-table').DataTable({
              dom: 't'
              , ajax: {
                  url: '{{ paths.project | raw }}&action=list-sources',
                  dataSrc: 'sources'
              }
              , columns: [
                  { "data": "title" }
                  , { "data": "document_count" }
                  , { "data": "lead"
                      , "render" : function ( data, type, row ) { 
                            var mailto  = (data.email) ? data.email : "?";
                            return '<a href="mailto:' + mailto +'">' + data.formatted +'</a>'; 
                    }                  
                  }
              ]
              , paging: false
              , ordering: false
              , info:     false
          });
      }
  });
});
</script>