{% extends "base.twig" %}

{% block title_navbar %}
	<span class="float-right">
		<a href="#" id="view-sources-link" class="text-decoration-none"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
				<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
				<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"></path>
			</svg>
		</a>
	</span>
	{% include 'sources-dialog.twig' %}
{% endblock %}

{% block body %}
<div class="row">
  	<div class="col-md-10">
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="text-search-tab" data-toggle="tab" href="#text-search">Search</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="browse-search-tab" data-toggle="tab" href="#browse-search">Browse</a>
			</li>		  
		</ul>
	</div>
</div>
</br/>
<div class="tab-content">
	<div class="tab-pane fade show active" id="text-search" role="tabpanel">
		{% include 'search-form.twig' %}

		{% if results != null %}
			{% include 'search-results.twig' %}
		{% endif %}
	</div>
	<div class="tab-pane fade" id="browse-search" role="tabpanel">
		{% include 'browse-tree.twig' %}
	</div>
</div>



	{% include 'cart.twig' %}
{% endblock %}

